# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual environment
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/processed/
results/
logs/
cache/

# Environment variables
.env